<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Signup</title>
</head>
<body>
    <div id="content">
<h1>Welcome to Signup page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, atque maiores dolorum laboriosam, quasi ullam recusandae similique animi qui eaque a. Distinctio voluptatibus at cupiditate iste atque excepturi perspiciatis dicta!</p>
    </div>
    <script>
        console.log("Signup page");
    </script>
</body>
</html>