<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <section id="content">
<h1>Welcome Services page</h1>
<h2>Services offered by SCM</h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex libero odit dicta ipsam fugiat corporis incidunt fuga eius earum enim, dolorem exercitationem cum corrupti eum natus pariatur tempora aperiam aliquid?
    </section>
</body>
</html>